.row{
margin-left: 200px;
margin-right:200px;
}

.card{
    /* width: 1057px;
    height: 293px; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.close{
    text-align: end;
    float: right !important;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    margin-top: -46px;
    margin-bottom: 38px;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.closebutton{

    border: none;
    background-color: red;
    color: white;
    outline: none;
    padding: 10px;
    border-radius: 9px;

}