<app-header></app-header>

<div class="row">

    <div class="col-sm-12 ">
        <div class="card" style="margin-top: 200px;padding: 20px;">

                <h2 style="text-align: center;" >Edit Menu Items</h2>
                <span class="close" > <Button class="closebutton">close x</Button></span>
          
           
            <label for="uname"><b>Menu Items</b></label>
            <input type="text" placeholder="Enter Menu name " name="lname" class="form-control">

            
            <button type="submit" class="btn btn-secondary" style="margin-top: 50px; background-color: rgb(120, 120, 223);">SAVE</button>
        </div>
    </div>
</div>

