<app-header></app-header>


        <div class="card" style="margin-top: 200px;padding: 20px;">
            <h2 style="text-align: center;" >Add Shop</h2>
            <span class="close" > <Button class="closebutton">close x</Button></span>
            <div class="row">
                <div class="col-sm-4">
                    <label for="uname"><b>Shop Name</b></label>
                    <input type="text" placeholder="Enter Shop Name " name="lname" class="form-control">
                </div>
    
                <div class="col-sm-4">
                    <label for="uname"><b>Shop Location</b></label>
                    <input type="text" placeholder="Enter Shop Location " name="lname" class="form-control">
                </div>
    
                <div class="col-sm-4">
                    <label for="uname"><b>Shop Address</b></label>
                    <input type="text" placeholder="Enter Shop Address " name="lname" class="form-control">
                </div>
                
                <div class="col-sm-4">
                    <label for="uname"><b>Shop Phone Number</b></label>
                    <input type="text" placeholder="Enter Shop Phone Number " name="lname" class="form-control">
                </div>
                <div class="col-sm-4">
                    <label for="uname"><b>Shop Email-ID</b></label>
                    <input type="text" placeholder="Enter Shop Email-ID " name="lname" class="form-control">
                </div>
                
                <div class="col-sm-4">
                    <label for="uname"><b>Shop Logo</b></label>
                    <input type="file" placeholder="Add Shop Images " name="lname" class="form-control">
                </div>

                <div class="col-sm-4">
                    <label for="uname"><b>Shop License Number</b></label>
                    <input type="text" placeholder="Add Shop Images " name="lname" class="form-control">
                </div>

                <div class="col-sm-4">
                    <label for="uname"><b>Shop GST Number</b></label>
                    <input type="text" placeholder="Add Shop Images " name="lname" class="form-control">
                </div>

                <div class="col-sm-4">
                    <label for="uname"><b>Shop FSSAI License Number</b></label>
                    <input type="text" placeholder="Add Shop Images " name="lname" class="form-control">
                </div>

                <div class="col-sm-4">
                    <label for="uname"><b>Owner Name</b></label>
                    <input type="text" placeholder="Enter Shop Owner Name " name="lname" class="form-control">
                </div>

                <div class="col-sm-4">
                    <label for="uname"><b>Owner Address</b></label>
                    <input type="text" placeholder="Enter Shop Owner Name " name="lname" class="form-control">
                </div>

                <div class="col-sm-4">
                    <label for="uname"><b>Owner Phone Number</b></label>
                    <input type="text" placeholder="Enter Shop Owner Name " name="lname" class="form-control">
                </div>

                <div class="col-sm-4">
                    <label for="uname"><b>Shop Images</b></label>
                    <input type="text" placeholder="Enter Shop Owner Name " name="lname" class="form-control">
                </div>

                <div class="col-sm-4">
                    <label for="uname"><b>Opening Time</b></label>
                    <input type="text" placeholder="Enter Shop Owner Name " name="lname" class="form-control">
                </div>
        
                <div class="col-sm-4">
                    <label for="uname"><b>Closing Time</b></label>
                    <input type="text" placeholder="Enter Shop Owner Name " name="lname" class="form-control">
                </div>

                
        
            </div>
            

           
        </div>
