<app-header></app-header>

    <div class="card" style="margin-top: 200px;padding: 20px;">
    <h2 style="text-align: center;"> MENU SUB COURSE TYPE</h2>
    <span class="close"> <Button class="closebutton" routerLink="/menu-sub-course">close x</Button></span>

    <form [formGroup]="addCourseTypeForm">

        <div class="row">


            <div class="col-sm-6">
                <label for="uname"><b>Sub Course Menu Name</b></label>
                <input type="text" placeholder="Enter Sub Course Menu Name"  class="form-control"
                    [(ngModel)]="scmname" [ngClass]="{ 'is-invalid': submitted && f.scmname.errors }"
                    formControlName="scmname">
                <div *ngIf="submitted && f.scmname.errors" class="invalid-feedback">
                    <div *ngIf="f.scmname.errors.required">Sub Course Menu Name is required</div>
                </div>
            </div>


            
            <div class="col-sm-12">
                <button class="btn btn-danger" (click)="save()"
                    style="margin: 0 auto; display: block;margin-top: 20px;width: 30%;">Submit</button>
            </div>

        </div>

    </form>


</div>
