<div class="sidenav" style=" background-size: cover;background:url('./assets/images/sidebar.jpg')">
  <!-- <div class="sidenav" style="border-top:2px solid hsla(0,0%,100%,.1);border-bottom: 2px solid hsla(0,0%,100%,.1);"></div> -->

  <!-- <a routerLink="/shop">Shop</a>
    <a routerLink="/location">Location</a> -->
  <!-- <a href="#contact">Contact</a> -->
  <div class="bg-overlay ng-tns-c129-0"></div>
  <!-- <ul>
      <li routerLinkActive="active">  <a routerLink="/home" style=" color: rgb(255, 255, 255);">Category</a></li>
      <li routerLinkActive="active"> <a routerLink="/location" style=" color: rgb(255, 255, 255);">Location</a></li>
      <li routerLinkActive="active"><a routerLink="/shop" style=" color: rgb(255, 255, 255);">Shop</a></li>
    </ul> -->

  <ul class="mainmenu">
    <!-- <li><a>Home</a></li>
      <li><a>About</a></li> -->
    <li><a>Masters <i style="float: right;
        margin-top: 4%;" class="fa fa-angle-down"></i></a>
      <ul class="submenu">
        <li routerLinkActive="active"> <a routerLink="/home" style="color:  rgb(255, 255, 255) ;">Category</a></li>
        <li routerLinkActive="active"> <a routerLink="/location" style=" color: rgb(255, 255, 255);">Location</a></li>
        <li routerLinkActive="active"> <a routerLink="/shop" style=" color: rgb(255, 255, 255);">Shop</a></li>
        <!-- <li routerLinkActive="active">  <a routerLink="/menuitems" style="color: rgb(255, 255, 255);">Menu Items</a>  -->
        <li routerLinkActive="active">  <a routerLink="/businessmodels" style=" color: rgb(255, 255, 255);">Business Models</a></li>
        <li routerLinkActive="active">  <a routerLink="/grocerysupermarkets" style=" color: rgb(255, 255, 255);">Grocery / Supermarket</a></li>

        <li routerLinkActive="active"> <a routerLink="/menuitems" style=" color: rgb(255, 255, 255);">Menu Items </a>
        </li>

        <li class="menu"> <a style=" color: rgb(255, 255, 255);"> Restaurant Style <i style="float: right;
  margin-top: 4%;" class="fa fa-angle-down"></i></a>
          <ul class="submenu2">
            <li routerLink="active"><a routerLink="/menu-sub-course" style="color:  rgb(255, 255, 255) ;">Restaurant
                Menu Subcourse Type</a></li>
            <li routerLink="active"><a routerLink="/menu-style" style="color:  rgb(255, 255, 255) ;">Restaurant Menu
                Style</a></li>
            <li routerLink="active"><a routerLink="/menu-course-type" style="color:  rgb(255, 255, 255) ;">Restaurant
                Menu Course Type</a></li>
            <li routerLink="active"><a routerLink="/menu-course-type" style="color:  rgb(255, 255, 255) ;">Restaurant
                Menu Pointed to Shop</a></li>


          </ul>
        </li>
      </ul>
    </li>


    <li><a>Transactions <i style="float: right;
        margin-top: 4%;" class="fa fa-angle-down"></i></a>
    </li>
    <!-- <ul class="submenu">
          <li routerLinkActive="active">  <a routerLink="/reports" style="color: rgb(255, 255, 255);">Reports</a></li>
        </ul>
      </li>
       
  </ul> -->

    <li><a>Reports <i style="float: right;
    margin-top: 4%;" class="fa fa-angle-down"></i></a>
    </li>
  </ul>
</div>