<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
    <div class="row">
        <div class="col-sm-4 ">
            <button class="btn btn-success" style="float: left; margin-bottom: 10px;background-color: blue;" routerLink="/addshop">Add</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            
            <th scope="col">Shop Name</th>
            <th scope="col">Options</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Shop Name 1</th>
            <td><button class="btn btn-warning" routerLink="/editshop">Edit</button>&nbsp;
                 <button class="btn btn-success">Enable</button>&nbsp;
                 <button class="btn btn-dark">Disable</button>
                </td>
          </tr>
          
          
        </tbody>
      </table>
</div>
